@import url(https://fonts.googleapis.com/css?family=Roboto:700);
html {margin: 10px;}
a {color: black;}
.card {border-radius: 1.2rem;}

canvas#inputCanvas {
    box-shadow: inset 0 0 20px -5px #000000;
    height: 86%;
    width: 100%;
}

#colorSlider {
	background-color: #FFFFFF;
	position: relative;
	box-shadow: inset 0 0 20px -5px #000000;
}
#colorLabel {
  margin-left: 9rem;
}
output{
  display: inline-block;
  min-width: 2.5em;
}
label, output{
  padding: 2px 9px;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 1.1em;
}
label[for=r], output[for=r]{
  background-color: #f00;
}
label[for=g], output[for=g]{
  background-color: #0f0;
}
label[for=b], output[for=b]{
  background-color: #00f;
}

#hex{
  min-width: 4.5em;
  font-size: 3em;
  background: rgba(255,255,255,.3);
}

@media only screen and (max-width: 600px) {
  .col {
    display: block;
    width: 100%;
  }
}
.box>* {
  flex: 1 1 200px;
}

#footer {
    font-weight: bolder;
}
