
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<div class="row">
				<div class="col">
					<p id="colorLabel" style="font-weight: bolder;">
						Color
					</p>
				</div>
				<div class="col">
					<div id="display-box" style="width: 100%; height: 100%;">
					</div>
				</div>
			</div>
			<div class="row">
				<div id="colorSlider" class="card-body">
					<h2 class="card-title">
						Color slider
					</h2>
					{% include "small_slider.html" %}
					<a href="#" class="btn btn-primary" id="sendColor">
						Set color
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="row">
				<div class="col">
					<button class="btn btn-primary" id="clearButton">
						Clear
					</button>
				</div>
				<div class="col">
					<button class="btn btn-primary" id="sendButton">
						Send data
					</button>
				</div>
			</div>
			<div class="row" style="height: 100%; width: 100%;">
					<canvas id="inputCanvas" style="box-shadow: inset 0 0 20px -5px #000000; height: 86%; width: 100%;
"></canvas>
			</div>
		</div>
		<div class="col-md-8">
			<p> Abrams sucks penis </p>
		</div>
	</div>
</div>




