<!doctype html>
<html lang="">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="../static/js/script.js" type="text/JavaScript"></script>
        <title>{% block title %}{% endblock %} - Display graph </title>
    {% endblock %}
  </head>

  <body>
    <div id="content" class="container main-container">
         {% block content %}  {% endblock %}
     </div>
    <div id="footer" class="container text-center">
      {% block footer %}
      &copy; Copyright 2022 by Flynn OConnell & Sons.
      {% endblock %}
    </div>
  </body>
</html>
