<div id="slider">
	<article>
		<label for="r">R</label>
		<input type="range" min="0" max="255" id="r" step="1" value="0">
		<output for="r" id="r_out">0</output>
	</article>
	<article>
		<label for="g">G</label>
		<input type="range" min="0" max="255" id="g" step="1" value="0">
		<output for="g" id="g_out">0</output>
	</article>
	<article>
		<label for="b">B</label>
		<input type="range" min="0" max="255" id="b" step="1" value="0">
		<output for="b" id="b_out">0</output>
	</article>
	<output id="hex">#000000</output>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{ url_for('static', filename="js/sliders.js") }}"></script>